page-chatbox {
  ion-label {
    white-space: normal;
  }
  .item-ios p:last-child {
    margin-bottom: 10px;
  }

  .home {
    background-color: #e0e0e0;
  }
  .chat-ion-item {
    background-color: #e0e0e0;
    margin: 5px 0px;
  }
  .chat-info {
    height: auto;
    min-height: 1rem;
    padding: 1rem 1.2rem;
    line-height: 20px;
    /* width: calc(100% - 10rem);*/
    box-shadow: #717478 2px 1px 10px;
    border-radius: 1em;
  }
  .chat-info-my {
    background-color: #fff;
    color: #000;
    margin-left: 1rem;
  }

  .chat-info-you {
    color: #fff;
    background-color: #000;
    margin-left: 1rem;
  }
}

